//set fonts for titles and sections
@mixin set-font($fweight, $fsize, $fcolor){
    font-weight: $fweight;
    font-size: $fsize ;   
    color: $fcolor;
    
}

@mixin set-background-color($clr){
    background-color: $clr;
}

@mixin set-border($width ,$clr){
    border: $width solid $clr;
}