//font-family
$ff: 'myriad-pro-semi-condensed';

//font-weight
$fw-ligth: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

//font-size 
$fs-xlg: 2rem;
$fs-lg: 1.5rem;
$fs-xm: 1.2rem; 
$fs-med: 1rem;
$fs-sm: 0.875rem; 
$fs-xsm: 0.75rem;


// Colors
$clr-white: rgba(255, 255, 255, 1);
$clr-ligth-green: rgba(60, 236, 200, 1);
$clr-medium-green: rgba(0, 196, 151, 1);
$clr-green: rgba(0, 167, 126, 1);
$clr-dark-green: rgba(0, 138, 101, 1);
$clr-ski-blue:  rgba(69, 174, 221, 1);
$clr-medium-ski-blue: rgba(44, 115, 155, 1);
$clr-ligth-blue: rgba(23, 82, 127, 1);
$clr-medium-blue: rgba(0, 55, 106, 1);
$clr-dark-blue: rgba(0, 45, 92, 1);
