@use "../abstracts/vars";
@use "../abstracts/mixins";
@use "../abstracts/media-queries";

main {
    display: flex;
}

.content {
    flex: 1;
    padding: 2rem 7rem 2rem 7rem;
    margin-top: 6.6rem;
    @include mixins.set-background-color(vars.$clr-medium-blue);
    //responsive
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        padding: 2rem 3rem;
    }
    @include media-queries.respond-to(media-queries.$tablet-portrait){
        padding: 2rem 3rem; 
    }
    @include media-queries.respond-to(media-queries.$phone){
        padding: 1.5rem; 
        margin-top: 4.8rem;
    }
}

.content-section {
    @include mixins.set-background-color(vars.$clr-medium-green);
}

/* dropdown button */
.dropdown-button{
    @include mixins.set-background-color(vars.$clr-dark-blue);
    border: none;
    padding: 0.5rem 1.5rem;
}

.positionY{
   margin-top: 17.5rem;
}

.dropdown-menu{
    @include mixins.set-background-color(vars.$clr-dark-blue);
    
}

.dropdown-menu :hover{
    @include mixins.set-background-color(vars.$clr-dark-blue);
    
}