@use "../abstracts/vars";
@use "../abstracts/mixins";
@use "../abstracts/media-queries";

.header {
    @include mixins.set-background-color(vars.$clr-dark-blue);
    @include mixins.set-border(2px, vars.$clr-ligth-green);
    position: fixed;
    width: 100%;
    z-index: 1000; 
}

.navbar-container{
    max-width: 1500px ;
}

.div-collapse{
    flex-grow: 0;
    padding-right: 2rem ;
}

/* search bar*/
.search-bar {
    display: flex;
    width: 37rem ;
    border-radius: 1.563rem 1.563rem 0 1.563rem;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0 2.5rem;
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        width: 50%;
    }
    @include media-queries.respond-to(media-queries.$tablet-portrait){
        width: 50%;
    }
    @include media-queries.respond-to(media-queries.$phone){
        width: 13rem;
        height: 2rem;
        margin: 0 0.3rem;
    }
}

.search-bar img {
    width: 1.2rem
}

@include media-queries.respond-to(media-queries.$phone){
    .search-bar img{
        transform: translatey(-8px);
    }
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.625rem;
    font-size: 1rem;
    @include mixins.set-background-color(vars.$clr-ligth-green);
}

.search-button {
    border: none;
    @include mixins.set-background-color(vars.$clr-medium-ski-blue);
    color: #fff;
    font-size: 1rem;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    @include media-queries.respond-to(media-queries.$phone){
        display: none;
    }
}

/* Notifications */
.notifications img {
    width: 2rem;
}

/* Logo */
.logo{
    //padding: 0 0 0 1.5rem;
    margin: 1rem 0;
    padding-left: 2rem ;

}

.img-logo {
    width: 4rem;
    @include media-queries.respond-to(media-queries.$phone){
        width: 2rem;
    }
}

/* img user */
.img-user img {
    width: 2rem;
    margin-right: 2.5rem;
}

/* Style elements */
.nav-buttons {
    border: none;
    background: none;
}

/* Se usa las etiquetas a del navbar */
.link-nav {
    text-decoration: none; 
    margin: 0rem 2.5rem 0 0rem;
}

/* hamburguer button */

.btn-hamburguer{
    @include mixins.set-border(2px, vars.$clr-green);
    background: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

.btn-hamburguer:focus{
    box-shadow: 0 0 0 2px rgba(0, 167, 126, 1);;
}

.btn-hamburguer img{
    width: 2rem;
    @include media-queries.respond-to(media-queries.$phone){
        width: 1rem;
    }
}

/* Centra el ul  */

@media (max-width: 991.98px) {
    .navbar-nav {
      text-align: center; /* Centra los elementos */
    }

    .img-user {
        margin-right: 2.45rem;
        margin-bottom: 0.45rem;
    }
  
    .notifications {
        margin-right: 2.45rem;
        margin-bottom: 0.45rem;
    }

    .btn-hamburguer {
        /* Establece un ancho de 0 y un margen derecho de 0 para cerrar el botón */
        overflow: hidden;
    }
  
    .navbar-nav .nav-item {
      margin: 0.5rem 0; /* Espaciado entre elementos */
    }
  
    .navbar-collapse {
      text-align: center; /* Centra el contenido del collapse */
    }
  
    .navbar-collapse .navbar-nav {
      margin: auto;
    }
  }