@use "../abstracts/vars";
@use "../abstracts/mixins";
@use "../abstracts/media-queries";

/* Animations */

@keyframes slideIn {
    from {

        transform: translatex(-100%);
    }

    to {

        transform: translatex(0);
    }
}

@keyframes slideOut {
    from {

        transform: translateX(0);
    }

    to {

        transform: translateX(-100%);
    }
}

.floating-filter {
    position: fixed;
    width: 5.5rem;
    height: 85.7vh;
    @include mixins.set-border(3px, vars.$clr-ligth-green);
    @include mixins.set-background-color(vars.$clr-dark-blue);
    border-top: none;
    cursor: pointer;
    padding: 2rem 0;
    margin-top: 6.6rem;
}

.floating-filter button {
    margin-left: 1.8rem;
    margin-top: 2em;
}

.floating-filter ul {
    list-style: none;
    margin-left: -5px;
}

.floating-filter ul li {
    padding-top: 5.5rem;
}

.img-filter {
    width: 2rem;
}

/* options container */

#optionsContainer {
    @include mixins.set-background-color(vars.$clr-dark-blue);
    @include mixins.set-border(3px, vars.$clr-ligth-green);
    position: fixed;
    top: 0;
    margin-top: 6.6rem;
    min-width: 10rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    border-top: none;
    height: 85.7vh;
}

.padding-options {
    padding-top: 3.75rem;
    padding-left: 0.3rem;
}

#optionsContainer.show {
    animation: slideIn 0.5s ease forwards;
}

#optionsContainer.hide {
    animation: slideOut 0.5s ease forwards;
}

